# MongoDB Atlas connection string
# Replace with your actual MongoDB Atlas connection string
# Get this from: MongoDB Atlas > Connect > Connect your application
MONGODB_URI=mongodb+srv://amitmury22_db_user:eVjmYkfO8Z18hWIt@testdatabase.vo5twhg.mongodb.net/?appName=TestDatabase
# Optional: specific database name
EMAIL_USER=Wanderphiliaexperiences@gmail.com
EMAIL_PASS=eojtijfdcjgingyu

MSG91_AUTH_KEY=513342TzgFdrlXxmUS69f5a55cP1
MSG91_TEMPLATE_ID=69f5a4ec747a9535130307a2

NEXT_PUBLIC_GA_MEASUREMENT_ID=G-GFPXJ77HPK